/* body */

html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 107, 6);
    overflow: hidden;
}


/* panel logo */

.panel.logo {
    display: flex;
    justify-content: center;
    margin: 5% 0px auto;
    width: 100%;
    height: 5%;
}

.panel.logo img {
    height: 100%;
}

/* panel desc */

.panel.desc {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5%;
    margin: 5% 0px auto;
}

h1 {
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-right: 10px;
}

.panel.desc img {
    height: 30px;
}

/* panel image */
.panel.image {
    position: absolute;
    left: 0;
    width: 100%;
    height: 60%;
    padding: 10px;
}

#previewImg {
    margin-left: 15%;
    margin-right: auto;
    /* height: 100%; */
    width: 70%;
    border-radius: 5px;
}

/* panel btn */
.panel.btn {
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    /* margin-top: 20%; */
}

/* btn css */

.panel.btn label {
    display: inline-block;
    padding: .5em .75em;
    color: #999;
    padding: 15px 32px;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}

.panel.btn input[type="file"] {  /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
  }


.panel.btn button {
    background-color: #555555;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 15px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.panel.btn button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.panel.btn button:focus {
    outline: none;
} 
